<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	{% include 'flash.html' %}
	<div class="well">
		<h1>Sign Up</h1>
        <form class="form-horizontal" action="" method="post" name="register">
            {{ form.hidden_tag() }}
            <div class="control-group{% if form.username.errors %} error{% endif %}">
                <label class="control-label" for="username">Username:</label>
                <div class="controls">
                    {{ form.username(maxlength=15, class="span4") }}
                    {% for error in form.username.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
			<div class="control-group{% if form.email.errors %} error{% endif %}">
                <label class="control-label" for="email">Email:</label>
                <div class="controls">
                    {{ form.email(maxlength=120, class="span4") }}
                    {% for error in form.email.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
			<div class="control-group{% if form.password.errors %} error{% endif %}">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                    {{ form.password(maxlength=80, class="span4") }}
                    {% for error in form.password.errors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Sign Up">
                </div>
            </div>
        </form>	  
	</div> <!-- /container -->
{% endblock %}